
    <div class="admin__data-grid-wrap admin__data-grid-wrap-static">

        <h3><?php echo __('Stock movements'); ?></h3>

        <?php echo $block->getChildHtml('admin.product.stockmovementgrid') ?>
    </div>
