
<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="save" title="save" type="button" class="action-default scalable primary" onclick="jQuery('#form_import').submit();" data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Import file now'); ?></span>
        </button>
    </div>
</div>
