<?php if (!$this->hasReportData()): ?>
    <p><?php echo __('No data available'); ?></p>
<?php else: ?>
    <div id="<?php echo $this->getDivId(); ?>" style="width: 99%; height: 80%; margin: 0 auto; float: center; margin-bottom: 25px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; ">
    </div>


    <script type="text/javascript">
        require(["highcharts"], function() {

            jQuery('#<?php echo $this->getDivId(); ?>').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                credits: { enabled: false },
                title:{ text:''},
                tooltip: {
                    pointFormat: '<b>{point.y} {series.name} ({point.percentage:.1f} %)</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    },
                    series: {
                        stacking: 'normal',
                        point: {
                            events: {
                                click: function () {
                                    <?php echo $this->onClick(); ?>
                                }
                            }
                        }
                    },

                    column: {
                        colorByPoint: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: '<?php echo $this->getYLabel(); ?>',
                    data: <?php echo json_encode($this->getSeriesData()); ?>
                }],
                exporting: {
                    buttons: {
                        contextButton: {
                            menuItems: [{
                                text: 'Excel Export',
                                onclick: function () {
                                    <?php echo $this->exportJs(); ?>
                                }
                            }]
                        }
                    }
                }
            });
        });
    </script>

<?php endif; ?>