<h1><?php echo __('Associate to a supplier'); ?></h1>
<?php echo $this->getFormBlock()->toHtml(); ?>

<p>&nbsp;</p>

<h1><?php echo __('Associated supplier(s)'); ?></h1>

<?php echo $this->getGridBlock()->toHtml(); ?>