<?php foreach($this->getReports() as $report): ?>
    <div class="ur-report ur-report-size-<?php echo $report->getSize(); ?>">
        <h2><?php echo $report->getName(); ?></h2>
        <?php echo $this->renderReport($report); ?>
    </div>
<?php endforeach; ?>
