<?php if ($this->canDisplay()): ?>
    <center>
        <button title="Orders" type="button" onclick="packingObj.commitPacking();" class="action-default scalable action-primary">
            <span><?php echo __('Commit packing'); ?></span>
        </button>
    </center>
<?php endif; ?>